<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebService.REST.PunServiceAspNetAjaxBehavior">
          <!--<enableWebScript />-->

          <!--add it use UriTemplate-->
          <webHttp/>
          
          <!--use it to auto select format by client (json, xml, etc)-->
          <!--<webHttp automaticFormatSelectionEnabled="true"/>-->
          
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment 
      aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WebService.REST.PunService">
        <endpoint address="" 
                  behaviorConfiguration="WebService.REST.PunServiceAspNetAjaxBehavior"
                  binding="webHttpBinding" 
                  contract="WebService.REST.PunService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>